/* Import Fonts */
@import url(https://fonts.google.com/share?selection.family=Bebas%20Neue%7CMontserrat:ital,wght@0,400;0,700;1,400);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */

/* fonts */
h1, h2, h3, nav a, nav span, menu li, #social li, #about li, footer {
    font-family: 'Bebas Neue', sans-serif;
}
p, dd, li, nav, input{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

dt{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
/* Start Custom */
*{
    box-sizing: border-box;
}
body{
    max-width: 80%;
    margin: 0 auto;
    background-color: rgba(122, 191, 191, .5);
}
main{
    background-color: #F2F2F2;
    margin: 0 auto;
}
header{
    display: none;
}
h1{
    text-align: center;
    font-size: 40px;
}
h2{
    font-size: 30px;
    text-align: center;
}
h3{
    font-size: 25;
}
a{
    text-decoration: none;
}
ol{
    list-style: decimal;
    list-style-position: inside;
}
li{

}
/* Hamburger nav */
#menu {
    display: grid;
    position: absolute;
    top: 100%;
    width: 80%;
    height: 100px;
    background: #F2F2F2;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    z-index: 0;
}
menu {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(9, auto);
}
a[href="#home"] {
    position: relative;
    width: 70%;
    margin: 0 auto;
    background-color: #EB5428;
}
menu ul{
    overflow: hidden;
    background-color: #F2F2F2;
    position: relative;
    display: block;
    max-width: 100%;
    max-height: 0;
    transition: max-height .2s ease-out;
}
menu label {
    cursor: pointer;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
input:checked~ul{
    max-height: 600px;
}
menu li a img{
    width: 50px;
}
menu h2 {
    display: none;
}
menu input{
    display: none;
} 
menu li{

    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    padding: 5px;
}  
menu li a{
    display: block;
    text-align: center;
}


/* About */
#about{
    padding-top: 200px;
}
#about ul{
    display: grid;
    padding: 20px 0;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    text-wrap: nowrap;
}
#about li{
    text-align: center;
    color: #EB5428;
    
}
#about svg{
    display: grid;
    margin: 0 auto;
}

/* Ingredients */
#ingredients li{
    list-style-type: disc;
    list-style-position: inside;
    text-align: center;
    
}
#menu{
    display: block;
    position: absolute;
    top: 0;
}
img {
    max-width: 331px;
    height: auto;
}
footer{
    background-color: #F2F2F2;
}
footer img{
    display: block;
    width: 150px;
    margin: 0 auto;
}
