@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of reset */

/* fonts */
h1, h2, h3, nav a, nav span, menu li, #social li, #about li, footer {
    font-family: "Bebas Neue", sans-serif;
}
p, dd, li, nav, input{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

dt{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
}

/* Start Code*/
html {
    background-color: rgba(122, 191, 191, .5);
}
body {
    background-color: #F2F2F2;
    max-width: 414px;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    /* grid-template-rows: repeat(9,100px); */
    grid-template-columns: 1fr;
    grid-template-areas: 
                        "nav"
                        "header"
                        "details"
                        "ingredients"
                        "directions"
                        "sides"
                        "social"
                        "footer";
}
main{
    background-color: #F2F2F2;
    margin: 0 auto;
}
section{
    display: grid;
}
header {
    grid-area: header;
    padding-top: 180px;
}
header img {
    width: 100%;
}

h1{
    text-align: center;
    font-size: 40px;
}
h2{
    font-size: 30px;
    text-align: center;
}
h3{
    font-size: 25px;
}
a{
    text-decoration: none;
}
ol{
    list-style: decimal;
    list-style-position: inside;
}

/* Menu I guess??? */
menu {
    grid-area: header; 

    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    list-style-type: none;
}
menu li {
    display: grid;
    padding: 1em;
    justify-content: center;
    font-weight: bold;
    text-wrap: nowrap;
}
menu svg{
    display: grid;
    grid-row: 1/2;
}
menu li a{
    display: grid;
    text-align: center;
    color: #EB5428;
    justify-items: center;
}
header img{
    grid-column: 1/5;
}
header p{
    grid-column: 1/5;
    padding: 10px 0;
    line-height: 1.5em;
}


/* Details */
.details {
    grid-area: details;

    line-height: 1.5em;
}
dt{
    display: flex;
    float: left;
    padding-right: 1em;
}

/* Ingredients */
.ingredients {
    grid-area: ingredients;

    line-height: 2em;
    text-align: left;
}
.ingredients li{
    list-style-type: disc;
    list-style-position: inside;
}

/* directions */
.directions{
    grid-area: directions;

}
.directions ol{
    width: 90%;
    margin: 0 auto;
}
.directions li{
    list-style-position: outside;
    margin-top: 1.5em;
    line-height: 20px;
}

/* Sides */
.sides{
    grid-area: sides;

    background-color: #7ABFBF;
    
}
img {
    max-width: 414px;
    height: auto;
}
footer{
    grid-area: footer;

    background-color: #F2F2F2;
}
footer img{
    width: 150px;
    margin: 0 auto;
}
/* NAV????????? Like why are you done here?  seems inconvenient  */
.nav {
    grid-area: nav;
}

/* social */
.social{
    grid-area: social;
}